[submodule "Libraries/ACD"]
	path = Libraries/ACD
	url = git@github.com:Edw590/VISOR-AdvancedCommandsDetection.git
	branch = master
[submodule "Utils"]
	path = Utils
	url = git@github.com:Edw590/VISOR-Utils.git
	branch = main
[submodule "Modules/MOD_4"]
	path = Modules/MOD_4
	url = git@github.com:Edw590/VISOR-RssFeedNotifier.git
	branch = main
[submodule "Modules/MOD_5"]
	path = Modules/MOD_5
	url = git@github.com:Edw590/VISOR-EmailSender.git
	branch = main
[submodule "Modules/MOD_2"]
	path = Modules/MOD_2
	url = git@github.com:Edw590/VISOR-SMARTChecker.git
[submodule "Modules/MOD_6"]
	path = Modules/MOD_6
	url = git@github.com:Edw590/VISOR-OnlineInformationChecker.git
[submodule "Libraries/OIG"]
	path = Libraries/OIG
	url = git@github.com:Edw590/VISOR-OnlineInformationGetter.git
