// Keep it on 1.20, so that it can be compiled for Windows 7 too if it's compiled with Go 1.20 (it's the last version
// supporting it).
go 1.20

use (
	./Modules/CmdsExecutor
	./Modules/EmailSender
	./Modules/GPTCommunicator
	./Modules/GoogleManager
	./Modules/ModulesManager
	./Modules/OnlineInfoChk
	./Modules/RSSFeedNotifier
	./Modules/SMARTChecker
	./Modules/Speech
	./Modules/SpeechRecognition
	./Modules/SystemChecker
	./Modules/TasksExecutor
	./Modules/UserLocator
	./Modules/WebsiteBackend
	./ClientCode
	./data/ProgramData
	./Libraries/ACD
	./Libraries/DialogMan
	./Libraries/SettingsSync
	./Libraries/GMan
	./Libraries/GPTComm
	./Libraries/OICComm
	./Libraries/SCLink
	./Libraries/SpeechQueue
	./Libraries/TEHelper
	./Libraries/ULHelper
	./ServerCode
	./Utils
)
