/*******************************************************************************
 * Copyright 2023-2024 Edw590
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 ******************************************************************************/

body {
    background-color: #B0B0B0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}
pre, code, blockquote {
    border-radius: 5px;
}
pre, code {
    font-size: 14px;
    padding: 15px;
    background-color: #D0D0D0;
    white-space: break-spaces;
}
code {
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
    padding: 0 5px 0 5px;
}
blockquote {
    background: linear-gradient(90deg, #C8CCD0 4px, #FFFFFF 0%);
    color: #656565;
    padding: 1px 0 1px 15px;
    position: relative;
    margin-left: 15px;
}
blockquote::before {
    background: #C8CCD0;
    width: 4px;
    height: 101%;
    content: "";
    position: absolute;
    margin-top: -2px;
    margin-left: -15px;
    border-radius: 2px;
}
hr {
    color: #FFFFFF;
}
